@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.085em;
  color: #FFFFFF;
}
h1.blue-text {
  color: #013461;
}

h2, h4 {
  font-size: 20px;
  font-weight: 900;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FDB338;
}

h4 {
  font-family: Lato, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a, p {
  font-family: Lato, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
a.grey-text, p.grey-text {
  color: #A5A5A5;
  font-style: italic;
}
a.red-text, p.red-text {
  color: red;
  font-style: italic;
}

a {
  color: #013461;
  text-decoration: underline;
  cursor: pointer;
}

input {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  box-shadow: inset 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
}
input ::-moz-placeholder {
  color: #A5A5A5;
  font-style: italic;
}
input ::placeholder {
  color: #A5A5A5;
  font-style: italic;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #FDB338;
  border: 4px solid #FDB338;
  padding: 10px 20px;
  border-radius: 15px;
}
button.vehicle-info-button {
  font-weight: 900;
}
button.blue-button {
  text-align: right;
  background-color: #4D85B6;
  border: 1px solid #013461;
  padding: 6px 8px;
  color: #F5FBFF;
  border-radius: 5px;
}
button.large-button {
  padding: 10px 25px;
}
button:hover {
  background-color: #FDCB76;
}

@media only screen and (min-width: 425px) {
  * {
    text-align: center;
  }
}
body {
  width: 100vw;
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  background: url("../img/car-bg.jpg");
  background-size: cover;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.swiper:-webkit-scrollbar {
  display: none;
}

.datepicker-controls, .datepicker-controls:hover {
  background-color: #FDB338 !important;
  border-bottom: 2px solid #000000;
}

.datepicker-controls .button {
  background-color: #FDB338 !important;
}

.datepicker-controls .button:hover {
  background-color: #FDCB76 !important;
}

.days-of-week, .day {
  font-family: Lato, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.datepicker-cell.range-start {
  background-color: #FDB338 !important;
}

.datepicker-cell.range {
  background-color: #FDCB76;
}

.datepicker-cell.range-end {
  background-color: #FDB338 !important;
}

.datepicker-cell.range:hover {
  background-color: #FFC460 !important;
}

* {
  text-align: center;
}

.block {
  display: block;
}

.hide {
  display: none !important;
}

.margin-xs-bottom {
  margin-bottom: 5px;
}

.margin-s-bottom {
  margin-bottom: 10px;
}

.margin-m-bottom {
  margin-bottom: 15px;
}

#page1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page1 #page1-main {
  max-width: 450px;
  border-radius: 30px;
  overflow: hidden;
}
#page1 #page1-main #page1-hero, #page1 #page1-main #page1-inputs {
  padding: 30px;
}
#page1 #page1-main #page1-hero {
  background-color: #013461;
}
#page1 #page1-main #page1-inputs {
  background-color: #F5FBFF;
}
#page1 #page1-main #page1-inputs label, #page1 #page1-main #page1-inputs h4, #page1 #page1-main #page1-inputs input {
  display: inline;
}
#page1 #page1-main #page1-inputs .divider {
  border-top: 1px solid #013461;
  border-bottom: 1px solid #013461;
  width: 90%;
  margin: 15px auto;
  padding: 10px;
}

#page2 {
  width: 100%;
  height: 100%;
}
#page2 #page2-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 45% 55%;
  overflow: hidden;
}
#page2 #page2-wrapper #page2-mapbox-half #map {
  z-index: 1;
}
#page2 #page2-wrapper #page2-vehicle-half {
  width: 100vw;
}
#page2 #page2-wrapper #page2-vehicle-half #vehicle-carousel {
  border: 1px solid #013461;
  background-color: rgba(245, 251, 255, 0.2);
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  gap: 30px;
  padding: 15px 20px;
  margin-bottom: 10px;
}
#page2 #page2-wrapper #page2-vehicle-half #vehicle-carousel .card-wrapper {
  width: 220px;
  height: 100%;
  background-color: #F5FBFF;
  border: 1px solid #013461;
  border-radius: 10px;
  flex: 0 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: 40% 60%;
}
#page2 #page2-wrapper #page2-vehicle-half #vehicle-carousel .card-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#page2 #page2-wrapper #page2-vehicle-half #vehicle-carousel .card-wrapper div {
  padding-top: 5px;
}
#page2 #page2-wrapper #page2-vehicle-half #vehicle-carousel .card-wrapper div > * {
  margin-bottom: 5px;
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper #shopping-cart-close-button {
  position: absolute;
  top: -80px;
  right: 10px;
  cursor: pointer;
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper #shopping-cart-close-button i {
  font-size: 64px;
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  background-color: #F5FBFF;
  border: 2px solid #013461;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -1px 18px 3px #013461;
  padding: 20px;
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle, #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey {
  display: flex;
  flex-direction: column;
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle *, #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey * {
  margin-bottom: 5px !important;
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle.all-inputs, #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey.all-inputs {
  border-bottom: 2px solid #013461;
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle img, #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey img {
  height: 100px;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
#page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey h4 {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle, #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey {
    margin-top: 15px;
    padding-bottom: 10px;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle img, #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey img {
    height: 160px;
  }
}
@media screen and (min-width: 1024px) {
  * {
    text-align: left;
  }
  h1 {
    font-size: 24px;
  }
  h2, h4 {
    font-size: 16px;
  }
  a, p {
    font-size: 14px;
  }
  button.large-button {
    padding: 10px 20px;
  }
  #landing-page-wrapper {
    width: 75%;
    display: grid;
    grid-template-columns: 60% 40%;
  }
  #page1-main {
    max-width: initial;
    width: 100%;
  }
  #page2 {
    padding: 15px 0;
  }
  #page2 #page2-wrapper {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  #page2 #page2-wrapper #page2-vehicle-half {
    display: grid;
    grid-template-rows: 305px 1fr;
    width: 100%;
  }
  #page2 #page2-wrapper #page2-vehicle-half #vehicle-carousel {
    width: 100%;
    height: 100%;
  }
  #page2 #page2-wrapper #page2-vehicle-half #vehicle-carousel .card-wrapper div {
    padding: 10px;
  }
  #page2 #page2-wrapper #page2-vehicle-half #cart-button {
    margin-top: 30px;
    height: 50px;
  }
  #page2 #page2-wrapper #cart-wrapper {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 0;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper {
    position: static;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #shopping-cart-close-button {
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;
    z-index: 2;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #shopping-cart-close-button i {
    font-size: 64px;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart {
    position: relative;
    bottom: 0;
    width: 90%;
    height: 95%;
    border-radius: 15px;
    box-shadow: none;
    padding: 20px;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle img, #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey img {
    max-height: 140px;
    max-width: 210px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-areas: "h4 p" "img p";
    margin-top: 0;
    padding-bottom: 5px;
    gap: 0 10px;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle #p-cart {
    grid-area: p;
    padding-top: 15px;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle #h4-cart {
    grid-area: h4;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-vehicle #img-cart {
    grid-area: img;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey {
    margin-top: 0;
    padding-bottom: 0;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey * {
    margin: 0;
  }
  #page2 #page2-wrapper #vehicle-shopping-cart-wrapper #vehicle-shopping-cart #shopping-cart-journey.margin-s-bottom {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1400px) {
  #landing-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}